.product {
  margin-bottom: 130px;
}
.product__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin-bottom: 70px;
}
.card__img {
  background: #f6f6f6;
  padding: 25px;
  text-align: center;
  margin-bottom: 10px;
}
.card__img img {
  transition: 0.3s;
}

.card__img img:hover {
  transform: scale(1.02);
}

.card__body {
  text-align: center;
}
.card__title {
  font-size: 24px;
  color: #1e1d1d;
  margin-bottom: 8px;
}
.cost {
  margin-top: 8px;
  s {
    color: #8b8e99;
    font-size: 18px;
  }
  strong {
    font-size: 24px;
  }
}
.product__title {
  text-align: center;
  margin-bottom: 65px;
  p {
    color: #3858d6;
    margin-bottom: 6px;
  }
  h2 {
    font-size: 36px;
  }
}
@media (max-width: 940px) {
  .product__wrapper {
    gap: 20px;
  }
}
@media (max-width: 850px) {
  .product__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .card {
    margin-bottom: 40px;
  }
}
@media (max-width: 530px) {
  .product__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .card {
    margin-bottom: 40px;
  }
}
.product__btn {
  display: block;
  margin: 0 auto;
  background: #3858d6;
  color: #fff;
  padding: 8px 38px;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #3858d6;
  border-radius: 15px;
  transition: 0.3s;
}
.product__btn:hover {
  background: #fff;
  color: #3858d6;
}
